.lesson {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.lessonName, .classRoomNumber {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

.lessonName {
    flex-grow: 1;
}

.classRoomNumber {
    margin-left: 8px;
}