.container {
    max-width: 1600px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.scheduleWrapper, .classIdsWrapper, .daysWrapper, .schoolDayWrapper {
    display: grid;
}

.scheduleWrapper {
    width: 100%;
    height: 100vh;
    grid-template-columns: 70px auto;
    grid-template-rows: auto repeat(5, auto);
    overflow: auto;
    border: 1px solid black;
    position: relative;
}

.schoolDayWrapper, .classIdsWrapper, .daysWrapper {
    gap: var(--table-spacing);
    padding: var(--table-spacing);
}

.daysWrapper, .plug {
    background: #1537ab;
    position: sticky;
    left: 0;
    z-index: 2;
}

.classIdsWrapper, .daysWrapper {
    font-size: 20px;
    color: white;
}

.daysWrapper, .schoolDayWrapper {
    grid-template-rows: repeat(5, var(--table-item-height));
}

.classIdsWrapper {
    grid-auto-flow: column;
    grid-auto-columns: var(--table-item-width);
    justify-items: center;
    background-color: #4e60ea;
    position: sticky;
    top: 0;
    z-index: 1;
}

.daysWrapper {
    justify-items: center;
    align-items: center;
}

.schoolDayWrapper {
    grid-auto-columns: var(--table-item-width);
    grid-auto-flow: column;
}
